:root{
    --cor-texto-principal:#BF773D;
    --cor-texto-secundario:#0D0507;
    --cor-fundo-site:#000000;
    --cor-fundo-caixa:#f6f6f6;
    --projeto-item-fundo:#F3C7A0;
    --projeto-item-nome:#C47937;
    --projeto-item-descricao:#FFFFFF;
    --projeto-item-link:#4A2E15;
}

body{
    background-color: var(--cor-fundo-site);
    font-family:"Koulen", sans-serif;
    background-image:url(./assets/images/icons-background.png);
}
main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.caixa-padrao{
    background-color: var(--cor-fundo-caixa);
    max-width: 1200px;
    width:80%;
    border-radius: 3px;
    margin-block: 5px;
    box-sizing:border-box;
}
#navegacao{
    display: flex;
    box-sizing: border-box;
    height: 90px;
    align-items: center;
    justify-content: space-between;
}

#icone-div{
    height:50px;
    width:50px;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color:#469CB3;
    border-radius:50%;
}

#icone{
    height:35px;
    width:35px;
}
#navegacao ul{
    display:flex;
    list-style:none;
    font-weight: 500;
    align-items:center;
    justify-content:space-between;
    width:100%;
    padding:25px 150px;
}

#navegacao ul a{
    text-decoration:none;
    line-height:unset;
    color:var(--cor-texto-principal);
    font-size:20px;
    transition:0.5s;
}

#navegacao ul a:hover{
    color: #FFF;
}

#apresentacao{
    height:320px;
    display:flex;
    font-family:'Montserrat', sans-serif;
}

#apresentacao-texto{
    width:70%;
    padding:30px 50px;
}

#apresentacao-texto h2{
    font-size:24px;
    color:;
}

#apresentacao-texto h1{
    font-size:64px;
    color:var(--cor-texto-principal);
    margin:unset;
}

#apresentacao-foto{
    width:30%;
    display:flex;
    justify-content:center;
    align-items:center;
}
#apresentacao-foto img{
    width:250px;
    height:250px;
    border-radius:50%;
}

#sobre, #projetos{
    padding: 30px 50px;
    font-family:'Montserrat', sans-serif;
}

#sobre h3, #projetos h3{
    font-weight:bold;
    font-size:24px;
    color:var(--cor-texto-principal);
}
#sobre p{
    font-weight:bold;
    font-size:24px;
    color:var(--cor-texto-secundario);
}

#tecnologias-container{
    display:flex;
    justify-content:space-around;
}

.tecnologia-container{
    display:flex;
    flex-direction:column;
    align-items:center;
}
.tecnologia-icone-container{
    background-color:var(--cor-texto-secundario);
    height:165px;
    width:165px;
    padding:20px;
    box-sizing:border-box;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
}
.tecnologia-nome{
    font-size:24px;
    color:var(--cor-texto-principal);
    font-weight:bold;
    line-height:3;
}

#projetos-repositorios{
    display:flex;
    flex-wrap:wrap;
    justify-content: start;
    gap: 15px 15px;
}

.projeto-item{
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 49%;
    min-height: 200px;
    background-color: var(--projeto-item-fundo);
    border-radius: 5px;
    justify-content: space-between;
    overflow:hidden;
    box-shadow: 5px 5px 30px rgba(10, 0, 0, 0.09);
}
.projeto-item h2{
    font-weight:bold;
    font-size:20px;
    font-family:'Montserrat', sans-serif;
    color:var(--projeto-item-nome);
}

#projetos .projeto-item h3{
    font-weight:bold;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    color:var(--projeto-item-descricao);
}

.projeto-item a{
    font-weight:bold;
    font-size:16px;
    font-family:'Montserrat', sans-serif;
    color:var(--projeto-item-link);
    text-decoration:none;
}

.projeto-item .projeto-item-header{
    height: 180px;
    overflow: hidden;
}

.projeto-item .projeto-item-header img{
    width:100%;
}

.projeto-item .projeto-item-body{
    padding: 20px;
    box-sizing: border-box;
}

.projeto-item .projeto-item-body h2, .projeto-item .projeto-item-body h3{
    margin:unset;
}

.projeto-item .projeto-item-footer{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    padding: 20px;
    box-sizing: border-box;
}